@model IEnumerable<DrinkType>


<div class="dropdown">
    <@*nav class="menu">*@
        <button asp-controller="Drink" asp-action="Index" asp-route-Name="" data-toggle="dropdown">Loại Đồ Uống</button>
        <ul class="dropdown-menu">
            @foreach (var item in Model)
            {
                <li>
                    <a class="dropdown-item" asp-controller="Type" asp-action="Index" asp-route-id="@item.DrinkTypeId">@item.Name</a>
                </li>
            }
            <li>
                <a class="dropdown-item" asp-controller="Drink" asp-action="Index" asp-route-Name="">Loại Đồ Uống</a>
            </li>
        </ul>

    @*</nav>*@
</div>