@model TableViewModel


<style>
    img{ 
        width: 100px;
        height: 100px;
    }
</style>


<table class="table">
    <tr>
        <td>
            <h5>Table 1</h5>
            <a class="btn btn-success" asp-controller="Table" asp-action="AddOrders">
                <img src="~/images/table.jpg" />
            </a>
        </td>
        <td>
            <h5>Table 2</h5>
            <a class="btn btn-success" asp-controller="Table" asp-action="AddOrders">
                <img src="~/images/table.jpg" />
            </a>
        </td>
        <td>
            <h5>Table 3</h5>
            <a class="btn btn-success" asp-controller="Table" asp-action="AddOrders">
                <img src="~/images/table.jpg" />
            </a>
        </td>
        <td>
            <h5>Table 4</h5>
            <a class="btn btn-success" asp-controller="Table" asp-action="AddOrders">
                <img src="~/images/table.jpg" />
            </a>
        </td>
        <td>
            <h5>Table 5</h5>
            <a class="btn btn-success" asp-controller="Table" asp-action="AddOrders">
                <img src="~/images/table.jpg" />
            </a>
        </td>
        <td>
            <h5>Table 6</h5>
            <a class="btn btn-success" asp-controller="Table" asp-action="AddOrders">
                <img src="~/images/table.jpg" />
            </a>
        </td>
    </tr>
</table>

