@model Product
@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<style>
    img {
        width: 500px;
        height: 350px;
    }
</style>
<h2 class="mb-4">Detail Product</h2>
<div id="detailProduct">
    <div class="IMGProduct" style="float: left;">
        <img src="@Url.Content("~/img/"+Model.ImgProduct)" />
    </div>
    <div class="InfoProduct" style="float: left; margin-left: 3%;">
        <span class="one-half">Tên sản phẩm: @Model.ProductName</span><br />
        <span class="one-half">Loại sản phẩm: @ViewBag.ProductType</span>
        <div class="one-forth">
            <span class="price">Giá: $@Model.Price</span>
        </div>
        <span>Địa chỉ: @Model.ProductionAddress</span>
        <div>
            <a href="#" class="btn btn-primary">Order now</a>
        </div>
    </div>
</div>
<div style="clear: both"></div>