@page 
@model TestMVC.Pages.Students.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<form method="post">
    <h2>Are you sure you want to delete this?</h2>

    <h3>Name: @Model.Student.Name</h3>
    <h3>Phone: @Model.Student.Phone</h3>

    <button type="submit" value="delete" class="btn btn-primary">Delete</button>
    <a asp-page="./List">Back List</a>
</form>

