@model  IEnumerable<Drink>
@{
    ViewData["Title"] = "List";
}

    <style>
        img {
            height: 100px;
            width: 120px;
        }
    </style>

<h1>Tất cả đồ uống</h1>

<form method="get">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="@Url.Content("~/images/"+item.ImgDrink)" alt="Coffee Shop" />
                    <h4>@item.Name</h4>
                    <p>@item.Price</p>
                    <p class="button ">
                        <a class="btn btn-primary" id="cartButton" asp-controller="Table" asp-action="AddToTable" asp-route-drinkId="@item.Id">
                            Thêm vào bàn
                        </a>
                    </p>
                </div>
            </div>
        }
    </div>

</form>