@model PhuHuynh
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="TenPhuHuynh">Tên phụ huynh</label>
        <input asp-for="TenPhuHuynh" />
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" />
    </div>
    <div>
        <button class="btn btn-danger" type="submit">Save Changes</button>
    </div>
</form>

<div>
    <a asp-action="List">Back List</a>
</div>